.page {
  margin: 40px auto;
}

.main {
  display: grid;
  gap: 25px;
  width: max-content;
  margin: auto;
  text-align: center;
}

.textRed {
  color: red;
}

.textBlue {
  color: blue;
}

.game {
  border-radius: 15px;
  padding: 20px;
  background-color: rgb(25, 25, 34);
}

.gameGrid {
  border-radius: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 20px; 
  background-color: #0a0a0a;
}

.gameDot {
  border-radius: 50px;
  width: 75px;
  height: 75px;
  padding: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(44, 43, 59);
  transition: all 0.3s;
}

.gameDot:hover {
  background-color: rgb(70, 69, 95);
  transform: scale(1.1);
}

.gameDot:active {
  transform: scale(1);
}

.p1Selected {
  background-color: red;
  pointer-events: none;
  border-radius: 50px;
  width: 75px;
  height: 75px;
  padding: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
  transform: scale(1.1);
}

.p2Selected {
  background-color: blue;
  pointer-events: none;
  border-radius: 50px;
  width: 75px;
  height: 75px;
  padding: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
  transform: scale(1.1);
}

.p1Winner {
  background-color: red;
  pointer-events: none;
  border-radius: 50px;
  width: 75px;
  height: 75px;
  padding: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
  transform: scale(1.1);
  animation: winner 0.3s linear infinite alternate;
}

.p2Winner {
  background-color: rgb(0, 0, 255);
  pointer-events: none;
  border-radius: 50px;
  width: 75px;
  height: 75px;
  padding: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
  transform: scale(1.1);
  animation: winner 0.3s linear infinite alternate;
}

@keyframes winner {
  from { transform: scale(1.1) }
  to { transform: scale(1.2) }
}

.scoreBoard {
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  background-color: rgb(25, 25, 34);
  display: grid;
  gap: 15px;
}

.scoreSection {
  display: flex;
  justify-content: space-evenly;
}

.scoreBoard button {
  background-color: rgb(0, 167, 0);
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  width: max-content;
  margin: auto;
  transition: all 0.1s;
  cursor: pointer;
}

.scoreBoard button:hover {
  transform: scale(1.1);
}

.scoreBoard button:active {
  transform: scale(1);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
